* {
    margin: 0;
    padding: 0;
}


.container{
    
    background-color: rgb(232, 232, 232);

    box-shadow: 10cm;
}

.logo_img{
    margin: 0;
    padding: 0;
    width: auto;
    height: 7vh;
}

a {
    text-decoration: none;
}

.navbar {

    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #3f535a;
    font-size: 20px;
}

.logo {
    margin-left: 5%;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.logo_header {
    display: flex;
    margin-left: 2%;
}

.main_nav {
    display: flex;
    width: 50%;
    float: right;
    margin-right: 2%;
    justify-content: space-between;
    list-style: none;
}

.main_nav li:hover {
    font: #fe96e0;
    text-decoration: underline;
}

.main_nav li {
    display: inline;
    color: #ffffff;
}

.main_nav li a {
    color: #ffffff;
    height: 50px;
}

.navbar_toggle {
    display: none;
    /* height: 50vh; */
}

/* two options in data analyss  */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    padding: 5px;
    display: none;
    position: absolute;
    background-color: #3f535a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px;
    margin: 5px;
    margin-top: -2px;
    margin-bottom: 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  


.analysis_heading{
    margin-top : 2vh ; 
    text-align: center;
    margin-bottom: 0px;
    font-weight: 700   ;
    color: #3f535a;
}




/* after nav bar home section  */

.sect{
    margin: 15px;
    padding: 5px;
    text-align: center;
    background-color: white;
    color: #3f535a;
    font-size: 50px ; 
}

.two-columns {

    display: flex;
    flex-wrap: wrap;

}

.column {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    background-color: rgb(255, 255, 255);
    flex: 1;
    padding: 20px;
    box-sizing: border-box;

    border: 2px solid black;
    border-radius: 15px;

    margin: 20px;
}

.column-image {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.column-image img {

    max-width: 100%;
}

.column-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.annie {
    /* text-align: center; */
    height: 70vh;
}

#main_head{
    font-size: 30px;
    color: #3f535a;
}
#about{
    margin-top: 25px;
    font-size: larger
}