<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Write-O-Braille</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/temp_style.css') }}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>

  <script src="static/js/app.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

  <!-- media query is fired here  -->

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
    body {
        font-family: 'Helvetica', sans-serif;
    }
</style>
    

</head>

<body>

  <nav class="navbar">
    <div class="logo_header">
      <a href="javascript:location.reload()" class="logo"><img class = 'logo_img' src="static/images/logo.png"></a>
      <button class="navbar_toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>


    <ul class="main_nav">
      <li>
        <a href="#about" class="nav_links">About</a>
      </li>



      <li>
        <div class="dropdown">
          <p class="nav_links dropdown-toggle">Data Analysis</p>
          <div class="dropdown-content">
            <br>
            <a href="{{ url_for('analysis') }}" >Letter Practice</a>
            <a href="{{ url_for('analysis2') }}">Word Practice</a>
          </div>
        </div>
      </li>
      
      <li>
        <a href="{{ url_for('team') }}" class="nav_links">Team WOB</a>
      </li>
      <li>
        <p style="color:#3f535a" class="nav_links"></p>
      </li>
    </ul>

  </nav>


  <div class="container">

    <h1 class="sect">Write-O-Braille</h1>

    <section class="two-columns">
      <div class="column column-image">
        <img class="annie" src="static/images/product.jpeg" alt="Image">
      </div>
      <div class="column column-content">
        <h2 id="main_head"> About Write-O-Braille</h2>
        <p id="about">
          This project aims to establish a model that can teach primary students the fundamentals of braille, enabling them to achieve literacy without external assistance.<br><br> By providing visually impaired children with the tools and resources to learn braille on their own, this project seeks to empower them to overcome the barriers to education that they face.
        </p>
      </div>
    </section>
    

  </div>

  <div id="loading-container">
    <div class="spinner"></div>
  </div>
  
  <script src="static/js/loading.js"></script>

</body>

</html>