<!DOCTYPE html>
<html>
<head>
	<title>Team Information</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/temp_style.css') }}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>

  <script src="static/js/app.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">

</head>
<body>

  <nav class="navbar">
    <div class="logo_header">
      <a href="{{ url_for('home') }}" class="logo"><img class = 'logo_img' src="static/images/logo.png"></a>
      <button class="navbar_toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>


    <ul class="main_nav">
      <li>
        <a href="{{ url_for('home') }}#about" class="nav_links">About</a>
      </li>



      <li>
        <div class="dropdown">
          <p class="nav_links dropdown-toggle">Data Analysis</p>
          <div class="dropdown-content">
            <br>
            <a href="{{ url_for('analysis') }}" >Letter Practice</a>
            <a href="{{ url_for('analysis2') }}">Word Practice</a>
          </div>
        </div>
      </li>
      <li>
        <a href="javascript:location.reload()" class="nav_links">Team WOB</a>
      </li>
      <li>
        <p style="color:#3f535a" class="nav_links"></p>
      </li>
    </ul>

  </nav>


	<!-- Add content here -->

  <div class="heading">
    <h1>Team</h1>
  </div>

  <div class="main_cont">

  

  <div class="team-member">
    <img src="https://via.placeholder.com/350x350" alt="Person 1">
    <h2>John Doe</h2>
    
    <p>Email: john@example.com</p>
  </div>


  <div class="team-member">
    <img src="https://via.placeholder.com/350x350" alt="Person 2">
    <h2>Jane Smith</h2>
    
    <p>Email: jane@example.com</p>
  </div>
  <!-- Repeat for other team members -->
  <div class="team-member">
    <img src="https://via.placeholder.com/350x350" alt="Person 2">
    <h2>Jane Smith</h2>
    
    <p>Email: jane@example.com</p>
  </div>
  <div class="team-member">
    <img src="https://via.placeholder.com/350x350" alt="Person 2">
    <h2>Jane Smith</h2>
    
    <p>Email: jane@example.com</p>
  </div>

  <div class="team-member">
    <img src="https://via.placeholder.com/350x350" alt="Person 2">
    <h2>Jane Smith</h2>
    
    <p>Email: jane@example.com</p>
  </div>
  <div class="team-member">
    <img src="https://via.placeholder.com/350x350" alt="Person 2">
    <h2>Jane Smith</h2>
    
    <p>Email: jane@example.com</p>
  </div>
  
</div>

  <div id="loading-container">
    <div class="spinner"></div>
  </div>

  <script src="static/js/loading.js"></script>

</body>
</html>
