<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Write-O-Braille</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/temp_style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_analysis.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


  <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>
  <script src="static/js/app.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

  <!-- media query is fired here  -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
    body {
        font-family: 'Helvetica', sans-serif;
    }
</style>
    
  <style>
    @media only screen and (max-width : 992px) {
        .plots{
            flex-direction: column;
        }
        #plot1{
            flex-direction: column-reverse;
        }
        #plot3{
            flex-direction: column-reverse;
        }
        #plot2{
            flex-direction: column;
        }
    }
  </style>
  <!-- responsiveness in phone using media queries  -->

</head>

<body>

  <nav class="navbar">
    <div class="logo_header">
      
      <a href="{{ url_for('home') }}" class="logo"><img class = 'logo_img' src="static/images/logo.png"></a>
      <button class="navbar_toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>


    <ul class="main_nav">
      <li>
        <a href="{{ url_for('home') }}#about" class="nav_links">About</a>
      </li>
      <li>
        <div class="dropdown">
          <a href="#" class="nav_links dropdown-toggle">Data Analysis</a>
          <div class="dropdown-content">
            <br>
            <a href="{{ url_for('analysis') }}" >Letter Practice</a>
            <a href="{{ url_for('analysis2') }}">Word Practice</a>
          </div>
        </div>
      </li>
      <li>
        <a href="{{ url_for('team') }}" class="nav_links">Team WOB</a>
      </li>
      <li>
        <p  style="color:#3f535a"class="nav_links"></p>
      </li>
    </ul>

  </nav>


  <h2 class = 'analysis_heading'> Word Practice Mode Data Analysis</h2>

   <div class="plots" id="plot1">

        <div class="column" id = "column1">
          <img src="static/images/plot4.png" alt="Image">
        </div>
        <div class="column" id = "column2">
          <div class='inside'>

          <h2> Correct and Incorrect Questions by Date in Word Practice Mode</h2>
          <p>
            This bar plot visualizes the performance over time, showing the number of correct and incorrect words answered on each date. <br><br>
            The black line shows the total number of questions answered on each date.
          </p>
          </div>

          <button class = 'reload' onclick="location.reload()">Reload</button>
        </div>
      

   </div>
   <div class="plots" id="plot2">

    
    <div class="column" id = "column2">

      <div class='inside'>
        <h2>Recorded accuracy Over Time</h2>
        <p>
          This plot shows the accuracy of the child's answers over time.<br><br> The accuracy is calculated as the percentage of correct answers out of the total number of questions answered on each day.<br><br> The blue line represents the accuracy trend, and the blue dots represent the accuracy on each day. 
        </p>
      </div>
        <button class = 'reload' onclick="location.reload()">Reload</button>
      </div>
    <div class="column" id = "column1">
        <img  src="static/images/plot5.png" alt="Image">
      </div>
      
    

   <!-- </div>
   <div class="plots" id="plot3">

    <div class="column" id = "column1">
        <img style="height:200% ;width : 120%;"src="static/images/plot3.png" alt="Image">
      </div>
      <div class="column" id = "column2">
        <div class='inside'>
        <h2>Correct and Incorrect Attempts in Each Letter</h2>
        <p>This horizontal bar plot represents the distribution of correct and incorrect attempts for each letter of the alphabet.<br><br>The plot provides insight into which letters are easy or difficult for the child, based on their accuracy. The <b style ="color:green;">green</b> bars indicate the number of correct attempts, while the <b style='color:red'>red</b> bars represent the number of incorrect attempts. <br><br>The longer the bar, the more attempts made by the child for that letter. </p>
        </div>
        <button class = 'reload' onclick="location.reload()">Reload</button>
      </div>
    

   </div> -->


  



</body>

</html>     